.App {
  text-align: center;
  min-height: 100vh;
  height: auto;
  background-color: #222222;
  width: auto;
}

.Header {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px 0;
  height: 50px;
  width: auto;
  background-color: #222222;
  backdrop-filter: blur(10px);
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  color: white;
  z-index: 12;
  height: auto;
}
.navElements {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 50px;
}
#logo {
  color: #ffd500;
  font-size: 55px;
}
#logo strong:hover {
  color: white;
  cursor: pointer;
}
.socials,
.emailTo {
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  color: white;
}
.socials {
  left: 20px;
  flex-direction: column;
}
.emailTo {
  right: 20px;
  writing-mode: vertical-rl;
  font-size: x-small;
  margin-right: 4px;
  margin-left: 4px;
}
.afterBar {
  height: 25vh;
  width: 1px;
  background-color: white;
}
main {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}
section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 0;
  color: white;
}
.hero {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner {
  text-align: left;
  width: 75%;
  line-height: 1;
}
.hero h1 {
  color: #ffd500;
}
.hero h2 {
  font-size: 75px;
  font-weight: bolder;
}
.hero h3 {
  font-size: 75px;
  font-weight: bolder;
  color: rgba(211, 211, 211, 0.51);
}
#hero-inner h1,
h2 {
  margin-bottom: -40px;
}
.navLink {
  cursor: pointer;
}
.navLink:hover {
  color: #ffd500;
}
#resumeButton {
  border: 2px solid #ffd500;
  border-radius: 10px;
  padding: 5px;
  color: #ffd500;
  cursor: pointer;
}
#resumeButton:hover {
  color: white;
  border-color: white;
}
#about {
  display: flex;
  justify-content: center;
  align-items: center;
}
#about-inner {
  text-align: left;
  width: 75%;
  line-height: 1;
}


#background-1 {
  position: absolute;
  z-index: 0;
  border-radius: 78% 22% 65% 38% / 23% 26% 74% 77%;
  background-color: #ffd500;
  width: 400px;
  height: 400px;
  left: 399px;
  top: -178px;
  box-shadow: 13px 2px 5px 2px black;
}
