.jobCardTitle {
    padding:0 10px;
    border: 2px solid #3d3d3d;
    max-width: 150px;
    border-radius: 1%;
}
.jobCardTitle:hover {
    cursor: pointer;
    color: #ffd500;
    transform: scale(1.05);
    box-shadow: #ffd500 0 0 7px 0 inset;

}
.active {
    border: 2px solid #ffd500;

    background-color: #3d3d3d;


}

.work-experience-block{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 5px;
    opacity: 0; /* Initially hide the JobCard */
    transition: opacity 1s ease; /* Add transition effect */
}
.work-experience-block.fade-in {
    opacity: 1; /* Gradually show the JobCard with fade-in effect */
}
@media screen and (max-width: 920px){
    .work-experience-block{
        padding-right: 16px;
    }
}
